In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics
import math
import plotly_express as px
import numpy as np
import time

In [2]:
df = pd.read_csv(r"C:\amazon_ml\dataset\train.csv")

In [3]:
df  = df.sort_values('PRODUCT_TYPE_ID')

In [4]:
res =df[['PRODUCT_TYPE_ID', 'PRODUCT_LENGTH']]

In [5]:
res = res.astype(int)

In [6]:
df_slice = res[:1000]

In [7]:
# sns.boxplot(df_slice.PRODUCT_LENGTH)

In [8]:
# checking negative values 
# (res < 0).any().any()

In [50]:
# def outlier_limit(li_df):
#     percentile25 = li_df['PRODUCT_LENGTH'].quantile(0.25)
#     percentile75 = li_df['PRODUCT_LENGTH'].quantile(0.75)
#     iqr = percentile75 - percentile25
#     upper_limit = percentile75 + 1.5 * iqr
#     lower_limit = percentile25 - 1.5 * iqr
#     out = li_df[li_df['PRODUCT_LENGTH'] < upper_limit]
#     out = li_df[li_df['PRODUCT_LENGTH'] > lower_limit]
#     return out
     

def flatten(l):
    return [item for sublist in l for item in sublist]

In [10]:
pa = df_slice['PRODUCT_LENGTH'].values.tolist()

In [11]:
# upper limit
v = outlier_limit(pa)

In [12]:
# fres = df_slice[df_slice['PRODUCT_LENGTH']<= v[1]]
fres =  df_slice[df_slice['PRODUCT_LENGTH'].between(v[0], v[1])]

In [13]:
# we need to remove outliers which are more than upper limit. 
#we don't need to remove outiers as they are not negative.

In [14]:
fres

         PRODUCT_TYPE_ID  PRODUCT_LENGTH
414249                 0             433
1970362                0            1350
927226                 0             500
1587085                0             637
927231                 0             669
...                  ...             ...
198201                 0             850
530282                 0             393
929127                 0             468
1233032                0             590
198205                 0             750

[939 rows x 2 columns]

In [15]:
cat_df = df[['PRODUCT_TYPE_ID']]

In [16]:
cat_df =  cat_df.drop_duplicates(subset=['PRODUCT_TYPE_ID'])

In [17]:
cat_df.shape

(12907, 1)

In [18]:
cat_range = cat_df.values.tolist()

In [19]:
len(cat_range)

12907

In [20]:
cat_range[0]

[0]

In [57]:
#2 Removing Outliers
def remove_deviant(dfp):
    percentile25 = dfp['PRODUCT_LENGTH'].quantile(0.25)
    percentile75 = dfp['PRODUCT_LENGTH'].quantile(0.75)
    iqr = percentile75 - percentile25
    upper_limit = percentile75 + 1.5 * iqr
    lower_limit = percentile25 - 1.5 * iqr
    fres = dfp[dfp['PRODUCT_LENGTH'] < upper_limit]
    fres = dfp[dfp['PRODUCT_LENGTH'] > lower_limit]
#     print(fres)
    return fres

In [22]:
# loop
# df of p_category
# finding upper limit and lower limit
# removing outliers which are out of the range of outer and lower limit
# return and storing the df into a new dataframe 

# preparing model

In [23]:
def fitting(d):
    d = d.sort_values('PRODUCT_TYPE_ID')
    d = d[['PRODUCT_ID', 'PRODUCT_TYPE_ID', 'PRODUCT_LENGTH']]
#     d = d.astype(int)
    return d



def training(d, cat_range):
    for p in cat_range:
#         print(p, type(p))
        df_cat = d[d['PRODUCT_TYPE_ID'] == p]
        dt = remove_deviant(df_cat)
        dt.to_csv('fit.csv', mode='a', header=False)
        #remove deviant and return dataframe.
        #return remove_deviant(df_cat)

In [54]:
new_df = pd.read_csv(r"C:\amazon_ml\dataset\train.csv")

In [55]:
fit_df = fitting(new_df)

In [56]:
fit_df.isna().sum()

PRODUCT_ID         0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [58]:
fit_df

         PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
414249      1420476                0      433.070866
1970362     1123216                0     1350.000000
927226      1165485                0      500.000000
1587085     1693001                0      637.000000
927231      1682427                0      669.000000
...             ...              ...             ...
674515      1266499            13420      600.000000
2031521     1428163            13420     1500.000000
531931      1517804            13420     1550.000000
387179      1478641            13420      500.000000
1590257     1350541            13420     3594.000000

[2249698 rows x 3 columns]

In [59]:
length_df = fit_df[['PRODUCT_TYPE_ID']]
length_df =  length_df.drop_duplicates(subset=['PRODUCT_TYPE_ID'])
type_range = length_df.values.tolist()
type_range = flatten(type_range)

In [60]:
training(fit_df, type_range)

In [61]:
t_df = pd.read_csv(r"C:\amazon_ml\fit.csv")

In [66]:
# t_df.isna().sum()
t_df.isnull().sum()

PRODUCT_ID         0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [67]:
t_df.head()

         PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
414249      1420476                0      433.070866
1970362     1123216                0     1350.000000
927226      1165485                0      500.000000
1587085     1693001                0      637.000000
927231      1682427                0      669.000000