In [275]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics
import math
import plotly_express as px
import numpy as np
import time

In [179]:
df = pd.read_csv(r"C:\amazon_ml\dataset\train.csv")

In [180]:
df  = df.sort_values('PRODUCT_TYPE_ID')

In [181]:
res =df[['PRODUCT_TYPE_ID', 'PRODUCT_LENGTH']]

In [182]:
res = res.astype(int)

In [183]:
df_slice = res[:1000]

In [184]:
# sns.boxplot(df_slice.PRODUCT_LENGTH)

In [185]:
# checking negative values 
# (res < 0).any().any()

In [238]:
def outlier_limit(li):
    list  = li.sort()
#     print('sorted: ', type(li), li)
    l = 1000
    iq = int( (0.25)*(l) )
    Q = li[iq]
    iqthree = int( (0.75)*(l) )
    Qthree = li[iqthree]
    IQR = Qthree - Q
    #Lower boundary = Q1 - 1.5 IQR = 22 - (1.5)(13) = 2.5
    #[lower_limit, upper_limit]
    return [ (Q - (1.5)*IQR), (Qthree + (1.5)*IQR) ]

def flatten(l):
    return [item for sublist in l for item in sublist]

In [239]:
pa = df_slice['PRODUCT_LENGTH'].values.tolist()

In [240]:
# upper limit
v = outlier_limit(pa)

In [241]:
# fres = df_slice[df_slice['PRODUCT_LENGTH']<= v[1]]
fres =  df_slice[df_slice['PRODUCT_LENGTH'].between(v[0], v[1])]

In [242]:
# we need to remove outliers which are more than upper limit. 
#we don't need to remove outiers as they are not negative.

In [243]:
fres

         PRODUCT_TYPE_ID  PRODUCT_LENGTH
414249                 0             433
1970362                0            1350
927226                 0             500
1587085                0             637
927231                 0             669
...                  ...             ...
198201                 0             850
530282                 0             393
929127                 0             468
1233032                0             590
198205                 0             750

[939 rows x 2 columns]

In [244]:
cat_df = df[['PRODUCT_TYPE_ID']]

In [245]:
cat_df =  cat_df.drop_duplicates(subset=['PRODUCT_TYPE_ID'])

In [246]:
cat_df.shape

(12907, 1)

In [247]:
cat_range = cat_df.values.tolist()

In [248]:
len(cat_range)

12907

In [249]:
cat_range[0]

[0]

In [267]:
#2 Removing Outliers
def remove_deviant(dfp):
    pa = dfp['PRODUCT_LENGTH'].values.tolist()
    # upper limit
#     v = outlier_limit(pa)
    mu = np.average(pa)
    sigma = np.std(pa)
    LL = mu - (1.5)*sigma # Lower limit 
    UL = mu + (1.5)*sigma # Upper limit
    fres = dfp['PRODUCT_LENGTH'].clip(LL, UL)
#     fres =  dfp[dfp['PRODUCT_LENGTH'].between(v[0], v[1], inclusive=True)]
    return fres

In [251]:
# loop
# df of p_category
# finding upper limit and lower limit
# removing outliers which are out of the range of outer and lower limit
# return and storing the df into a new dataframe 

# preparing model

In [276]:
def fitting(d):
    d = d.sort_values('PRODUCT_TYPE_ID')
    d = d[['PRODUCT_ID', 'PRODUCT_TYPE_ID', 'PRODUCT_LENGTH']]
#     d = d.astype(int)
    return d



def training(d, cat_range):
    for p in cat_range:
#         print(p, type(p))
        df_cat = d[d['PRODUCT_TYPE_ID'] == p]
        dt = remove_deviant(df_cat)
        dt.to_csv('fit.csv', mode='a', header=False)
        time.sleep(2)
        #remove deviant and return dataframe.
        #return remove_deviant(df_cat)

In [253]:
new_df = pd.read_csv(r"C:\amazon_ml\dataset\train.csv")

In [277]:
fit_df = fitting(new_df)

In [279]:
fit_df.isna().sum()

PRODUCT_ID         0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [280]:
fit_df

         PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
414249      1420476                0      433.070866
1970362     1123216                0     1350.000000
927226      1165485                0      500.000000
1587085     1693001                0      637.000000
927231      1682427                0      669.000000
...             ...              ...             ...
674515      1266499            13420      600.000000
2031521     1428163            13420     1500.000000
531931      1517804            13420     1550.000000
387179      1478641            13420      500.000000
1590257     1350541            13420     3594.000000

[2249698 rows x 3 columns]

In [281]:
length_df = fit_df[['PRODUCT_TYPE_ID']]
length_df =  length_df.drop_duplicates(subset=['PRODUCT_TYPE_ID'])
type_range = length_df.values.tolist()
type_range = flatten(type_range)

In [282]:
training(fit_df, type_range)

KeyboardInterrupt:

In [283]:
t_df = pd.read_csv(r"C:\amazon_ml\fit.csv")

In [284]:
t_df.isna().sum()

PRODUCT_ID               0
PRODUCT_TYPE_ID          0
PRODUCT_LENGTH     2792632
dtype: int64

In [285]:
t_df.head()

   PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
0      414249       433.070866             NaN
1     1970362      1350.000000             NaN
2      927226       500.000000             NaN
3     1587085       637.000000             NaN
4      927231       669.000000             NaN

In [286]:
t_df[8900:9000]

      PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
8900     1082630       500.000000             NaN
8901     1264861       196.850000             NaN
8902      336631       900.000000             NaN
8903     1264858        70.000000             NaN
8904     1602924      3000.000000             NaN
...          ...              ...             ...
8995     1755882        70.000000             NaN
8996     1000299       354.330000             NaN
8997      336523       640.000000             NaN
8998      914229       649.606299             NaN
8999      914230       600.000000             NaN

[100 rows x 3 columns]

In [264]:
f=  t_df[['PRODUCT_LENGTH']]

In [265]:
 t_df.isna().sum()

PRODUCT_ID         0.0
PRODUCT_TYPE_ID    0.0
PRODUCT_LENGTH     0.0
dtype: float64